html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (-webkit-min-device-pixel-ratio: 1) {
  .navigation-style {
    top: auto !important;
    bottom: 0 !important;
    width: 30% !important;
    margin-left: 35% !important;
    margin-right: 35% !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  .navigation-style {
    top: auto !important;
    bottom: 0 !important;
    width: 30% !important;
    margin-left: 35% !important;
    margin-right: 35% !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
  }
}
