.container {
  width: 100% !important;
  height: 62.5vh !important;
}
.containerPie {
  /* width: 100% !important; */
  height: 30vh !important;
  min-width: 0 !important;
  margin: 0 !important;
}

.pieText {
  margin: 0 !important;
  text-align: center !important;
}

.pieTextBottom {
  margin-top: 20 !important;
  margin-bottom: 0 !important;
  text-align: center !important;
}
