name: Check build in production mode

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
      - name: Install the dependencies
        run: npm ci --silent
      - name: tsc and eslint check
        run: npm run typecheck
      - name: Build
        run: npm run build
